@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    --color-purple-generic: rgba(199, 199, 235, 1);
    --color-pink-light: rgba(254, 219, 222, 1);
    --color-yellow-light: rgba(249, 237, 163, 1);
  }

  body {
    overflow-x: hidden !important;
  }

  @keyframes wobble {
    from {
      transform: translate3d(0, 0, 0);
    }

    15% {
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }
  @media (min-width: 768px) {
    .wobble {
      animation-delay: 10s;
      animation: wobble 5s ease-in-out infinite;
    }
  }
}
